/*
David Lips - 6225950
CSS file for assignment week 4 - D3 Map
*/

#container {
	overflow-y: scroll;
	position:relative;
	top: 50%;
	left: 50%;
	margin-top: 0px; 
	margin-left: -480px; 

}

#map {
	position: relative;
	width:1000px;
	height:700px;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

h3 {
	font-family: Raleway,HelveticaNeue,Helvetica,Arial,sans-serif;
	margin-left: -1100px; 
	text-align: center;
}

#text-container {
	width: 1000px;
	word-wrap: break-word;
}